<div class="formulario">
    <svg class="logoperfil" width="150" height="150" viewBox="0 0 150 150" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
            d="M12.5 150C12.5 150 0 150 0 137.5C0 125 12.5 87.5 75 87.5C137.5 87.5 150 125 150 137.5C150 150 137.5 150 137.5 150H12.5ZM75 75C84.9456 75 94.4839 71.0491 101.517 64.0165C108.549 56.9839 112.5 47.4456 112.5 37.5C112.5 27.5544 108.549 18.0161 101.517 10.9835C94.4839 3.95088 84.9456 0 75 0C65.0544 0 55.5161 3.95088 48.4835 10.9835C41.4509 18.0161 37.5 27.5544 37.5 37.5C37.5 47.4456 41.4509 56.9839 48.4835 64.0165C55.5161 71.0491 65.0544 75 75 75Z"
            fill="#D25B5B" />
    </svg>
    <form #monitorForm="ngForm" (ngSubmit)="onSubmit(monitorForm)">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Nombre</mat-label>
            <input matInput name="name" ngModel required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" ngModel required email />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Teléfono</mat-label>
            <input matInput type="tel" name="phone" ngModel required pattern="^[0-9]{10}$" />
        </mat-form-field>

        <div class="button-container">
            <button mat-raised-button color="primary" type="submit" [disabled]="monitorForm.invalid">Aceptar</button>
            <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
        </div>
    </form>

</div>