<div class="formulario-container">
    
    <div class="myCard">
        <div class="formulario-icono">
            <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_6_10445)">
                    <path
                        d="M22.5 105C22.5 105 15 105 15 97.5C15 90 22.5 67.5 60 67.5C97.5 67.5 105 90 105 97.5C105 105 97.5 105 97.5 105H22.5ZM60 60C65.9674 60 71.6903 57.6295 75.9099 53.4099C80.1295 49.1903 82.5 43.4674 82.5 37.5C82.5 31.5326 80.1295 25.8097 75.9099 21.5901C71.6903 17.3705 65.9674 15 60 15C54.0326 15 48.3097 17.3705 44.0901 21.5901C39.8705 25.8097 37.5 31.5326 37.5 37.5C37.5 43.4674 39.8705 49.1903 44.0901 53.4099C48.3097 57.6295 54.0326 60 60 60Z"
                        fill="#D25B5B" />
                </g>
                <defs>
                    <clipPath id="clip0_6_10445">
                        <rect width="120" height="120" fill="white" />
                    </clipPath>
                </defs>
            </svg>
    
        </div>
    
        <!-- Formulario -->
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="formulario">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre" />
            </div>
            <div class="form-group">
                <input type="email" class="form-control" formControlName="email" placeholder="Email" />
            </div>
            <div class="form-group">
                <input type="tel" class="form-control" formControlName="telefono" placeholder="Teléfono" />
            </div>
            <div class="botones">
                <button type="submit" class="btn" [disabled]="formulario.invalid">
                    ACEPTAR
                </button>
                <button type="button" class="btn" (click)="onCancelar()">
                    CANCELAR
                </button>
            </div>
        </form>
    </div>
</div>