.activity-day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  
    h4 {
      margin: 0;
      font-size: 1.2rem;
      text-transform: capitalize;
    }
  
    .arrow {
      cursor: pointer;
    }
  }
  