/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.card {
    background-color: #e0e0e0;
    width: 240px;
    height: 200px;
    border-radius: 3px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
}

.card-actions {
    position: relative;
    right: 10px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.basura-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    left:2px
}

.basura-btn:hover {
    opacity: 0.7;
}
.lapiz-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.lapiz-btn:hover {
    opacity: 0.7;
}

.profile-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
    left: 81px;
    color: white;
    font-size: 30px;
    position:absolute;
}
.info{
    position: relative;
    top: 20px;
}

/* bi:person-fill */





.name {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.email, .phone {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}
